@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* AQUI É O CÓDIGO PARA O MENU! */
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    background: white;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
}

.logo h1 {
    font-family: 'Mooli', sans-serif;
    color: #180f4a;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid black; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #FF2978;
    border-top: 4px solid #180f4a;
}

#botao {
    background: #180f4a;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    background: #FF2978;
    border:none
}

/* AQUI É O CÓDIGO PARA A HEADER */

.header {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

.headline h2 {
    font-weight: 600;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: #FF2978;
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;

}

.contact-btn:hover {
    background: #180f4a;
}

/* AQUI É O CÓDIGO PARA A SEÇÃO DE SERVIÇOS */

section {
    display: inline-block;
    margin-top: 80PX;
    /* border:1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display:inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 4px solid #FF2978;
    border-radius: 20px;
    cursor: pointer;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
}

.card p {
    font-size: 20px;
    font-weight: 400;
}

.texto-oculto {
    display: none;
}

.card:hover {
    background: #FF2978;
    color: white;
    padding: 60px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

/* AQUI COMEÇA O CÓDIGO DO RODAPÉ DA PÁGINA! */

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.logo-rodape {
    padding: 50px;
}

.agencia {
    font-family: 'Mooli', sans-serif;
    color: white;
    font-size: 34px;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 70px;
}

.referencia {
    color: white;
    font-size: 16px;
}
